/* Reset some default browser spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F5F1ED;           
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Makes the black phone outline shape for realism */
/* Note in the paper that I got this online */
.phone-frame {
    width: 407px;
    height: 866px;
    background: #000000;
    border-radius: 55px;
    padding: 14px;
    box-shadow: 
        0 0 0 2px #3a3a3a,
        0 0 0 6px #1a1a1a,
        0 30px 80px rgba(0,0,0,0.5);
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Background */
.phone-screen {
    background: #F5F1ED;           
    border-radius: 44px;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* This has to do with the "pages" of the app */
.screen {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
}

/* Added to the screen that is showing on the app */
.screen.active {
    display: flex;
}

/* Addes this since I just want this effect to happen on the first page */
#onboarding1.active {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Holds top svg */
.svg-container {
    width: 100%;
    height: 262px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    z-index: 2; /* This is so it is in front of the falling flowers*/
}

.group-icon {
    width: 100%;
    height: 262px;
    max-width: 100%;
    object-fit: contain;
    object-position: top center;
}

/* The "ephemera" in the middle of the screen (Figma gave me this info)*/
.app-title {
    position: absolute;
    bottom: 410px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 64px;
    font-family: 'Quicksand', sans-serif;
    /* This is to make it "regular" weight */
    font-weight: 400;
    color: #3e4f45;
    text-align: center;
    white-space: nowrap;
    

}


/* Flowers Falling*/
.flowerfall {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none; 
}

.flowerfall.active {
    opacity: 1;
}

.flower{
    width: 33px;
    height: 33px;
    position: absolute;
    /* These help the images not get too extended and stay the size they should */
    background-size: contain;
    background-repeat: no-repeat;
    animation: flower-fall 6s linear infinite, wind 10s ease-in-out infinite;
    top: -10%;
    left: 10%;
}

/* This is so there are three different flowers falling off of the screen */
.flower:nth-child(3n + 1) {
    background-image: url('images/flower1.svg');
}
.flower:nth-child(3n + 2) {
    background-image: url('images/flower2.svg');
}
.flower:nth-child(3n + 3) {
    background-image: url('images/flower3.svg');
}

/* This is so that the flowers start at diff positions as well as more spread out  */
.flower:nth-child(1) {
    left: 25%;
    animation-delay: 1s;
  }
  
  .flower:nth-child(2) {
    left: 85%;
    animation-delay: 1.5s;
  }
  
  .flower:nth-child(3) {
    left: 30%;
    animation-delay: 2s;
  }
  
  .flower:nth-child(4) {
    left: 65%;
    animation-delay: 2.5s;
  }
  
  .flower:nth-child(5) {
    left: 25%;
    animation-delay: 3s;
  }
  
  .flower:nth-child(6) {
    left: 95%;
    animation-delay: 3.5s;
  }
  
  .flower:nth-child(7) {
    left: 55%;
    animation-delay: 4s;
  }
  
  .flower:nth-child(8) {
    left: 10%;
    animation-delay: 4.5s;
  }
  
  .flower:nth-child(9) {
    left: 70%;
    animation-delay: 5s;
  }
  
  .flower:nth-child(10) {
    left: 20%;
    animation-delay: 5.5s;
  }


  /* Has flowers fall from the top of the page */
@keyframes flower-fall {
    100% {
        top: 100%;
    }
}

/* Has the flowers move gently side to side when falling*/
@keyframes wind {
    50% {
        transform: translateX(60px);
    }
}


/* Onboarding Pages info*/
.skip-button{
    position: absolute;
    top: 26px;
    left: 16px;
    width: 56px;
    height: 56px;
}

.progress-text{
    position: absolute;
    width: 18px;
    height: 15px;
    top: 73px;
    font-size: 12px;
    font-weight: 500;
    left: 50%;
    transform: translateX(-50%);
    font-family: Quicksand;
    color: #333333;
    text-align: center;
}

.progress-bar{
    position: absolute;
    width: 100%;
    height: 4px;
    top: 97px;
}

.onboard-heading{
    position: absolute;
    width: 306px;
    height: 72px;
    top: 137px;
    font-size: 32px;
    font-weight: 600;
    left: 50%;
    transform: translateX(-50%);
    font-family: Quicksand;
    color: #3E4F45;
    text-align: center;
    z-index: 2;

}

.onboard-subheading{
    position: absolute;
    width: 317px;
    height: 23px;
    top: 233px;
    font-size: 20px;
    font-weight: 500;
    left: 50%;
    transform: translateX(-50%);
    font-family: Quicksand;
    color: #3e4f45;
    text-align: center;
    z-index: 2;
}

.onboard-image{
    position: absolute;
    width: 393px;
    height: 716px;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    z-index: 0;
}

.continue-button{
    position: absolute;
    width: 361px;
    height: 48px;
    bottom: 38px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    background-color: #7C6C5A;
    color: #fcfcfc;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Quicksand';
    text-align: center;
    line-height: 48px;
    z-index: 2;
}

.continue-button:active{
    background-color: #BBA892;
}

/* Skip Button info fro onboarding slides*/

/* Overlay in the back of the popup */

.popup-overlay{
    position: absolute;
    display:none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(134, 99, 70, 0.27);
    border-radius: 55px;
    z-index: 10;
    align-items: center;
    justify-content: center;
}

.popup-overlay.active{
    display: flex;
}

/* White box popup */
.white-box{
    position: relative;
    width: 238px;
    height: 257px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #3e4f45;
    background-color: #fcfcfc;
    border-radius: 20px;

}

.box-shape{
    position: absolute;
    width: 238px;
    height: 257px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    overflow: hidden;
}

/* Green rings at the top of the popup*/
.green-rings{
    position: absolute;
    top: -42px;
    left: 35px;
    width:171px;
    height: 167px;
}

/* Dark icon*/
.popup-icon{
    position: absolute;
    width: 84px;
    height: 84px;
    top: -42px;
    left: 77px;
    z-index: 1;
}

/* Text and icons for the popup*/
.popup-heading{
    position: absolute;
    width: 202px;
    height: 27px;
    top: 98px;
    left: 17px;
    font-size: 20px;
    font-weight: 600;
    font-family: Quicksand;
    color: #3e4f45;
}

.popup-subtext{
    position: absolute;
    width: 175.3px;
    height: 30px;
    top: 129px;
    left: 30px;
    font-size: 12px;
    font-weight: 500;
    font-family: Quicksand;
    color: #3e4f45;
}

/* Buttons at the bottom of the popup*/
.popup-buttons{
    position: absolute;
    width: 94px;
    height: 30.5px; /* made this begger in code since it it looking smaller thn it was in figma*/
    top: 201px;
    border-radius: 8px;
    font-size: 14px; /* same made it bigger so people could read it better*/
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* outline style button*/
.popup-button-outline {
    left: 16px;
    color: #7c6c5a;
    border: 2px solid #7c6c5a;
    background-color: transparent;
}

.popup-button-outline:active {
    background-color: #7c6c5a;
    color: #fcfcfc;
}

/* filled style button*/
.popup-button-filled {
    left: 128px;
    color: #fcfcfc;
    border: 2px solid #7c6c5a;
    background-color: #7c6c5a;
}

.popup-button-filled:active {
    background-color: #BBA892;
}




/* For use on real phones that I might need later on */
/* Make a note in paper that I got this online */
@media (max-width: 420px) {
    body {
        background: #000000;
        padding: 0;
    }
    
    .phone-frame {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        padding: 0;
    }
    
    .phone-screen {
        border-radius: 0;
    }

    .app-title {
        font-size: 48px;
        bottom: 410px;
    }
}
