
/* Reset some default browser spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F5F1ED;           
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Makes the black phone outline shape for realism */
/* Written with help of AI to get phone dimensions */
.phone-frame {
    width: 421px;
    height: 880px;
    background: #000000;
    border-radius: 55px;
    padding: 14px;
    box-shadow: 
        0 0 0 2px #3a3a3a,
        0 0 0 6px #1a1a1a,
        0 30px 80px rgba(0,0,0,0.5);
    position: relative;
    display: flex;
    flex-direction: column;
}

/* I wanted to add this dynamic island since it is similar to figma prototypes */
/* and it was important in my design process */
.dynamic-island {
    position: absolute;
    width: 120px;
    height: 35px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    border-radius: 100px;
    z-index: 20;
}


/* Background */
.phone-screen {
    position: relative;
    background: #F5F1ED;           
    border-radius: 44px;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* This has to do with the "pages" of the app */
.screen {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
}

/* Added to the screen that is showing on the app */
.screen.active {
    display: flex;
}
