/* Reset some default browser spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F5F1ED;           
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Makes the black phone outline shape for realism */
/* Note in the paper that I got this online */
.phone-frame {
    width: 421px;
    height: 880px;
    background: #000000;
    border-radius: 55px;
    padding: 14px;
    box-shadow: 
        0 0 0 2px #3a3a3a,
        0 0 0 6px #1a1a1a,
        0 30px 80px rgba(0,0,0,0.5);
    position: relative;
    display: flex;
    flex-direction: column;
}

/* I wanted to add this dynamic island since it is similar to figma prototypes */
/* and it was important in my design process */
.dynamic-island {
    position: absolute;
    width: 120px;
    height: 35px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    border-radius: 100px;
    z-index: 20;
}


/* Background */
.phone-screen {
    background: #F5F1ED;           
    border-radius: 44px;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* This has to do with the "pages" of the app */
.screen {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
}

/* Added to the screen that is showing on the app */
.screen.active {
    display: flex;
}

/* Addes this since I just want this effect to happen on the first page */
#onboarding1.active {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Holds top svg */
.svg-container {
    width: 100%;
    height: 262px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    z-index: 2; /* This is so it is in front of the falling flowers*/
}

.group-icon {
    width: 100%;
    height: 262px;
    max-width: 100%;
    object-fit: contain;
    object-position: top center;
}

/* The "ephemera" in the middle of the screen (Figma gave me this info)*/
.app-title {
    position: absolute;
    bottom: 410px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 64px;
    font-family: 'Quicksand', sans-serif;
    /* This is to make it "regular" weight */
    font-weight: 400;
    color: #3e4f45;
    text-align: center;
    white-space: nowrap;
    

}


/* Flowers Falling*/
.flowerfall {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none; 
}

.flowerfall.active {
    opacity: 1;
}

.flower{
    width: 33px;
    height: 33px;
    position: absolute;
    /* These help the images not get too extended and stay the size they should */
    background-size: contain;
    background-repeat: no-repeat;
    animation: flower-fall 6s linear infinite, wind 10s ease-in-out infinite;
    top: -10%;
    left: 10%;
}

/* This is so there are three different flowers falling off of the screen */
.flower:nth-child(3n + 1) {
    background-image: url('images/flower1.svg');
}
.flower:nth-child(3n + 2) {
    background-image: url('images/flower2.svg');
}
.flower:nth-child(3n + 3) {
    background-image: url('images/flower3.svg');
}

/* This is so that the flowers start at diff positions as well as more spread out  */
.flower:nth-child(1) {
    left: 25%;
    animation-delay: 1s;
  }
  
  .flower:nth-child(2) {
    left: 85%;
    animation-delay: 1.5s;
  }
  
  .flower:nth-child(3) {
    left: 30%;
    animation-delay: 2s;
  }
  
  .flower:nth-child(4) {
    left: 65%;
    animation-delay: 2.5s;
  }
  
  .flower:nth-child(5) {
    left: 25%;
    animation-delay: 3s;
  }
  
  .flower:nth-child(6) {
    left: 95%;
    animation-delay: 3.5s;
  }
  
  .flower:nth-child(7) {
    left: 55%;
    animation-delay: 4s;
  }
  
  .flower:nth-child(8) {
    left: 10%;
    animation-delay: 4.5s;
  }
  
  .flower:nth-child(9) {
    left: 70%;
    animation-delay: 5s;
  }
  
  .flower:nth-child(10) {
    left: 20%;
    animation-delay: 5.5s;
  }


  /* Has flowers fall from the top of the page */
@keyframes flower-fall {
    100% {
        top: 100%;
    }
}

/* Has the flowers move gently side to side when falling*/
@keyframes wind {
    50% {
        transform: translateX(60px);
    }
}


/* Onboarding Pages info*/
.skip-button{
    position: absolute;
    width: 56px;
    height: 56px;
    top: 26px;
    left: 16px;
}

.progress-text{
    position: absolute;
    width: 18px;
    height: 15px;
    top: 73px;
    font-size: 12px;
    font-weight: 500;
    left: 50%;
    transform: translateX(-50%);
    font-family: Quicksand;
    color: #333333;
    text-align: center;
}

.progress-bar{
    position: absolute;
    width: 100%;
    height: 4px;
    top: 97px;
}

.onboard-heading{
    position: absolute;
    width: 306px;
    height: 72px;
    top: 137px;
    font-size: 32px;
    font-weight: 600;
    left: 50%;
    transform: translateX(-50%);
    font-family: Quicksand;
    color: #3E4F45;
    text-align: center;
    z-index: 2;

}

.onboard-subheading{
    position: absolute;
    width: 317px;
    height: 23px;
    top: 233px;
    font-size: 20px;
    font-weight: 500;
    left: 50%;
    transform: translateX(-50%);
    font-family: Quicksand;
    color:#3E4F45;
    text-align: center;
    z-index: 2;
}

.onboard-image{
    position: absolute;
    width: 393px;
    height: 716px;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    z-index: 0;
}

.continue-button{
    position: absolute;
    width: 361px;
    height: 48px;
    bottom: 38px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    background-color: #7C6C5A;
    color: #FCFCFC;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Quicksand';
    text-align: center;
    line-height: 48px;
    z-index: 2;
}

.continue-button:active{
    background-color: #BBA892;
}

/* Overlay in the back of the popup */

.popup-overlay{
    position: absolute;
    display:none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(134, 99, 70, 0.27);
    border-radius: 55px;
    z-index: 10;
    align-items: center;
    justify-content: center;
}

.popup-overlay.active{
    display: flex;
}

/* White box popup */
.white-box{
    position: relative;
    width: 238px;
    height: 257px;
    text-align: center;
    font-family: 'Quicksand';
    color: #3E4F45;
    background-color: #FCFCFC;
    border-radius: 20px;

}

.box-shape{
    position: absolute;
    width: 238px;
    height: 257px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    overflow: hidden;
}

/* Green rings at the top of the popup*/
.green-rings{
    position: absolute;
    top: -42px;
    left: 35px;
    width:171px;
    height: 167px;
}

/* Dark icon*/
.popup-icon{
    position: absolute;
    width: 84px;
    height: 84px;
    top: -42px;
    left: 77px;
    z-index: 1;
}

/* Text and icons for the popup*/
.popup-heading{
    position: absolute;
    width: 202px;
    height: 27px;
    top: 103px;
    left: 17px;
    font-size: 20px;
    font-weight: 600;
    font-family: Quicksand;
    color: #3E4F45;
}

.popup-subtext{
    position: absolute;
    width: 175.3px;
    height: 30px;
    top: 134px;
    left: 30px;
    font-size: 13px;
    font-weight: 500;
    font-family: Quicksand;
    color: #3E4F45;
}

/* Buttons at the bottom of the popup*/
.popup-buttons{
    position: absolute;
    width: 94px;
    height: 28px; /* made this bigger in code since it it looking smaller thn it was in figma*/
    top: 201px;
    border-radius: 8px;
    font-size: 14px; /* same made it bigger so people could read it better*/
    font-weight: 600;
    border: 2px solid #7C6C5A;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* outline style button*/
.popup-button-outline {
    left: 16px;
    color: #7C6C5A;
    background-color: transparent;
}

.popup-button-outline:active {
    background-color: #7C6C5A;
    color:#FCFCFC;
}

/* filled style button*/
.popup-button-filled {
    left: 128px;
    color:#FCFCFC;
    background-color: #7C6C5A;
}

.popup-button-filled:active {
    background-color: #BBA892;
    border: 2px solid #BBA892;
}


/* Login/Signup Page */

.top-image{
    position: absolute;
    width: 100%;
    height: 384px;
    top: 40px;
    object-fit: contain;
}


.auth-heading {
    position: absolute;
    width: 300px;
    top: 423px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: 600;
    font-family: 'Quicksand';
    color: #3E4F45;
    text-align: center;
}

.auth-subheading {
    position: absolute;
    width: 300px;
    top: 470px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: 500;
    font-family: 'Quicksand';
    color: #3E4F45;
    text-align: center;
}

.divider {
    position: absolute;
    top: 521px;
    left: 45px;
    width: 303px;
    height: 1px;
    border-top: 1px solid #dcd5c5;
}


/* Three green continue with buttons*/

.auth-button {
    position: absolute;
    left: 16px;
    width: 361px;
    height: 48px;
    border-radius: 15px;
    background-color: #3E4F45;
    color: #FCFCFC;
    font-family: 'Quicksand';
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* space between each of them*/
}

.auth-button:active {
    background-color: #5E7869;
}

.auth-button-icon {
    width: 22px;
    height: 22px;
}

/* distance of the buttons from the top of the page*/
.auth-button:nth-of-type(1) { 
    top: 567px; }
.auth-button:nth-of-type(2) { 
    top: 639px; }
.auth-button:nth-of-type(3) { 
    top: 711px; }

/* Have an account sign in button*/

.signin-button {
    position: absolute;
    width: 223px;
    height: 27px;
    top: 787px;
    left: 85px;
    border-radius: 8px;
    border: 1.5px solid #7c6c5a;
    background-color: transparent;
    font-family: 'Quicksand';
    font-size: 12px;
    font-weight: 500;
    color: #3E4F45;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin-button:active  {
    background-color: #7c6c5a;
    color: #FCFCFC;
}

.signin-bold{
    font-weight: 600;
    color: #7C6C5A;
    margin-left: 4px;
}


/* Registration Page */

.registration-icon{
    position: absolute;
    width: 101px;
    height: 42px;
    top: 74px;
    left: 50%;
    transform: translateX(-50%);
}

.registration-heading{
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: 600;
    font-family: 'Quicksand';
    color: #3E4F45;
}

/* This is for the format of the email and password boxes */
.type-box{
    position: absolute;
    top: 200px;
    left: 16px;
    width: 361px;

}

/* Distance of the boxes from the continue button */
.type-field{
    position: relative;
    margin-bottom: 24px;
}

/* top of the box text*/
label{
    display: block;
    top: 188px;
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: #3E4F45;
    margin-bottom: 11px;
    text-align: left;
}
/* the text that goes within the boxes*/
.input-text{
    width: 361px;
    height: 46px;
    border-radius: 15px;
    border: 1px solid #BBA892;
    background-color:  #FCFCFC;
    font-family: 'Quicksand';
    font-size: 16px;
    font-weight: 500;
    color: #3E4F45;
    padding: 0 16px;
}

.reg-continue-button {
    position: absolute;
    width: 361px;
    height: 48px;
    top: 506px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    background-color: #7C6C5A;
    color: #FCFCFC;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Quicksand';
    text-align: center;
    line-height: 48px;
}

.reg-continue-button:active {
    background-color: #BBA892;
}

.eye-icon{
    position: absolute;
    width: 28px;
    height: 20px;
    right: 16px;
    top: 45px;
    cursor: pointer;
}

.or-divider {
    position: absolute;
    width: 361px;
    height: 20px;
    top: 585px;
    left: 16px;
    display: flex;
    align-items: center;
    font-family: 'Quicksand';
    font-weight: 500;
    justify-content: center;
    color: #6f6150;
    gap: 10px;
}

.or-line {
    flex: 1;
    height: 1px;
    background-color: #BBA892;
}

.reg-google-button { 
    top: 634px; 
    left: 16px; }
.reg-apple-button { 
    top: 700px; 
    left: 16px; }
.reg-signin-button { 
    top: 778px; }

.reg-signin-button:active  {
    background-color: #7C6C5A;
    color: #FCFCFC;
}
.signin-bold{
    font-weight: 600;
    color: #7C6C5A;
    margin-left: 4px;
}

.signin-button:active .signin-bold {
    color:#FCFCFC;
}

.access-denied{
    display: none;
    color: #7C6C5A;
    font-family: 'Quicksand';
    font-size: 12px;
    font-weight: 500;
    margin-left: 8px;
}

.access-denied.show{
    display: inline;
}

/* Sign-in page, resuses some elements from registration */
/* Remeber me button under the signin */

.signin-icon{
    position: absolute;
    width: 101px;
    height: 42px;
    top: 74px;
    left: 50%;
    transform: translateX(-50%);
}

.remember {
    position: absolute;
    top: 400px;
    left: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.remember-text {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Quicksand';
    color: #3e4f45;
}

.remember-button{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FCFCFC; /* fixed colors they were off do in figma later */
    border: 1px solid #7C6C5A;
    box-sizing: border-box;
    cursor: pointer;
}

.remember-filled{
    position: absolute;
    width: 14px;
    height: 14px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%); /* need for center */
    background-color:  #3E4F45;
    opacity: 0;
}

.remember-button.checked .remember-filled {
    opacity: 1;
}

/* Figma */
.forgetpassword {
    position: absolute;
    width: 115px;
    height: 27px;
    top: 395px;
    left: 262px;
    border-radius: 8px;
    border: 1.5px solid #7C6C5A;
    text-align: center;
    font-size: 11px;
    font-family: 'Quicksand';
    color: #7C6C5A;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.forgot-password {
    font-weight: 600;
}

/* pressed */
.forgetpassword:active {
    background-color: #7C6C5A;
    color: #FCFCFC;
}

/* Different height than the pervious page*/
.reg-continue-button.signin-continue-button {
    top: 444px;
}

.or-divider.signin-or {
    top: 522px;
}

.signin-google-button { 
    top: 572px; 
    left: 16px; }

.signin-apple-button { 
    top: 638px; 
    left: 16px; 
}

.signin-register-button { 
    top: 716px; 
}

/* Terms and Conditions Page */
.back-button{
    position: absolute;
    width: 56px;
    height: 56px;
    top: 26px;
    left: 16px;
}

.terms-heading{
    position: absolute;
    width: 124px;
    height: 38px;
    top: 87px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: 600;
    font-family: 'Quicksand';
    color: #6F6150;
    text-align: center;
}

.terms-subheading{
    position: absolute;
    width: 263px;
    height: 36px;
    top: 133px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: 500;
    font-family: 'Quicksand';
    color:  #6F6150;
    text-align: center;
}

/* Scrollable box of the terms and conditions for users */
.terms-box {
    position: absolute;
    width: 361px;
    height: 541px;
    top: 195px;
    left: 16px;
    border-radius: 15px;
    background-color: #FCFCFC;
    border: 1px solid #DCD5C5;
    box-sizing: border-box;
    overflow-y: auto;
    padding-top: 19px;
    padding-left: 23px;
    padding-right: 23px;
    text-align: left;
    font-family: 'Quicksand';
    color: #3E4F45;  
}

.terms-title{
    font-size: 24px;
    font-weight: 600;

}

/* Black body to make it easier to read, tlk about how i found not pure black  */
.terms-body{
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    margin-top: 15px;
    line-height: 1.5; 
}


/* Agree and Disagree buttons  */
.terms-buttons{
    position: absolute;
    width: 172px;
    height: 49px;
    top: 766px;
    border-radius: 15px;
    border: 2px solid #7C6C5A;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Quicksand';
    display: flex;
    align-items: center;
    justify-content: center;
}

.disagree-button{
    left: 16px;
    color: #7C6C5A;
    background-color: transparent;
}

.disagree-button:active {
    color: #FCFCFC;
    background-color:  #7C6C5A;
}

.agree-button{
    left: 204px;
    color: #FCFCFC;
    background-color:  #7C6C5A;
}

.agree-button:active{
    color: #FCFCFC;
    background-color:  #BBA892;
    border: 2px solid #BBA892;
}

/* Ok design for when popup only has one button */
.popup-ok-button{
    position: absolute;
    width: 94px;
    height: 28px;
    top: 205px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    background-color: #7C6C5A;
    border: 2px solid #7C6C5A;
    color: #fcfcfc;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Quicksand';
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.popup-ok-button:active {
    background-color: #BBA892;
    border-color: #BBA892;
}

/* Account setup*/

.setup-heading{
    position: absolute;
    width: 203px;
    height: 38px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: 600;
    font-family: 'Quicksand';
    color: #3E4F45;
    text-align: center;
}

.setup-subheading {
    position: absolute;
    width: 232px;
    height: 30px;
    top: 146px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: 500;
    font-family: 'Quicksand';
    color:#3E4F45;
    text-align: center;
}

.setup-image-carousel{
    position: absolute;
    height: 244px;
    top: 224px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 52px;
    overflow-x: auto;
    padding-top: 0;
    padding-left: 24px;
    padding-right: 24px;
}

.setup-profile{
    width: 244px;
    height: 244px;
    flex-shrink: 0;
}

.setup-profile.selected{
    border: 2px solid #7C6C5A;
    border-radius: 50%;
}


/* For use on real phones that I might need later on */
/* Make a note in paper that I got this online */
@media (max-width: 420px) {
    body {
        background: #000000;
        padding: 0;
    }
    
    .phone-frame {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        padding: 0;
    }
    
    .phone-screen {
        border-radius: 0;
    }

    .app-title {
        font-size: 48px;
        bottom: 410px;
    }
}
